.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.main-footer {
    padding: 40px 60px;
    background-color: var(--bg-main);
    border-top: 1px solid var(--border-divider);
    text-align: center;
}

.footer-text {
    color: var(--text-light);
    font-size: 12px;
}
